@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-brand-50: #eef3f8;
  --color-brand-100: #d6e2ed;
  --color-brand-200: #adc5db;
  --color-brand-300: #84a7c8;
  --color-brand-400: #4d7ba9;
  --color-brand-500: #2a5680;
  --color-brand-600: #1b3a5c;
  --color-brand-700: #162f4a;
  --color-brand-800: #112438;
  --color-brand-900: #0c1a28;

  --color-olive-50: #f6f7ee;
  --color-olive-100: #eaedd6;
  --color-olive-200: #d3dab0;
  --color-olive-300: #b7c383;
  --color-olive-400: #9caa5c;
  --color-olive-500: #82913f;
  --color-olive-600: #66722f;
  --color-olive-700: #505a26;
  --color-olive-800: #414720;
  --color-olive-900: #383c1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard);

  --color-brand-50: var(--color-brand-50);
  --color-brand-100: var(--color-brand-100);
  --color-brand-200: var(--color-brand-200);
  --color-brand-300: var(--color-brand-300);
  --color-brand-400: var(--color-brand-400);
  --color-brand-500: var(--color-brand-500);
  --color-brand-600: var(--color-brand-600);
  --color-brand-700: var(--color-brand-700);
  --color-brand-800: var(--color-brand-800);
  --color-brand-900: var(--color-brand-900);

  --color-olive-50: var(--color-olive-50);
  --color-olive-100: var(--color-olive-100);
  --color-olive-200: var(--color-olive-200);
  --color-olive-300: var(--color-olive-300);
  --color-olive-400: var(--color-olive-400);
  --color-olive-500: var(--color-olive-500);
  --color-olive-600: var(--color-olive-600);
  --color-olive-700: var(--color-olive-700);
  --color-olive-800: var(--color-olive-800);
  --color-olive-900: var(--color-olive-900);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
